<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PyDjango Blog</title>
    <link rel="icon" type="image/png" href="icon.png"/>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>
<div id='app'>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container" style="max-width: 1222px;">
            <a class="navbar-brand" href="index.html">PyDjango Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://pypl.github.io/PYPL.html">PYPL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://pypl.github.io/IDE.html">10 TOP IDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://pypl.github.io/ODE.html">10 TOP ODE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://pypl.github.io/DB.html">10 TOP DB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://sontung2101.github.io/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="max-width: 1222px;">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Just Django
                    <small>with python</small>
                </h1>

                <!-- Blog Post -->
                <div class="card mb-4" v-for='p in posts.body'>
                    <img class="card-img-top" :src="p.thumbnail" style="max-height: 400px;" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{p.title}}</h2>
                        <p class="card-text">{{p.sapo}}</p>
                        <a v-on:click='getPost(p.id)' class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{p.created_at}} by
                        <a href="#">{{p.author.user.username}}</a>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4" v-if='paging.count > 0'>
                    <li v-if="paging.previous" class="page-item">
                        <a class="page-link" v-on:click="getListPosts(paging.previous)">&larr; Older</a>
                    </li>
                    <li v-else class="page-item disabled">
                        <a class="page-link">&larr; Older</a>
                    </li>
                    <li v-if="paging.next" class="page-item">
                        <a class="page-link" v-on:click="getListPosts(paging.next)">Newer &rarr;</a>
                    </li>
                    <li v-else class="page-item disabled">
                        <a class="page-link">Newer &rarr;</a>
                    </li>
                </ul>
                <p class="mt-3 text-muted container text-center" v-if='paging.count > 0'>Current Page: {{
                    paging.currentPage }} of {{paging.total_page}}</p>
                <p v-else class="mt-10 container text-center">Not Found 404</p>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group container">
                            <form @submit.prevent='search()'>
                                <input type="text" class="form-control" v-model="keyword" placeholder="Search for...">
                            </form>
                            <span class="input-group-btn">
                <button class="btn btn-secondary ml-1" style="width: 80px;" v-on:click="search()"
                        type="button">Go!</button>
              </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row" style="margin-left: 10px">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li v-for='c in categories.body.cate' class="disabled">
                                        <a href="#" class="btn btn-link" style="display: unset;"
                                           @click.prevent="keyword =c.title" v-on:click="search()">{{c.title}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li v-for='c in categories.body.cate2'>
                                        <a href="#" class="btn btn-link" style="display: unset;"
                                           @click.prevent="keyword =c.title" v-on:click="search()">{{c.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        Wellcome to PyDjango Blog.<br>We have <label style="color: red;margin-bottom: 0px;">{{paging.count}}</label>
                        posts for you .<br>Ready to become a professional Django developer?
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; HiImST</p>
        </div>
        <!-- /.container -->
    </footer>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                categories: {
                    body: {
                        cate: [],
                        cate2: []
                    }

                },
                keyword: '',
                perPage: 3,
                paging: {
                    currentPage: "1",
                    count: "",
                    previous: "",
                    next: "",
                    total_page: "",
                },

                posts: [],
                API_URL: 'https://drfblog.herokuapp.com'
            };
        },
        created: async function () {
            await this.getListPosts(this.API_URL);
            await this.getCategories();
            var pos = location.href.lastIndexOf("?key=");
            if (pos >= 0) {
                var key = location.href.substring(pos + 5);
                this.keyword = key
                await this.search()
            }
        },
        methods: {
            getListPosts: async function (url) {
                var resp = await fetch(url,);
                this.posts = await resp.json();
                this.paging = this.posts.paging;
                // console.log(this.posts)
                window.scrollTo(0, 0);
            },
            search: async function () {
                var url = this.API_URL + "?search=" + encodeURI(this.keyword);
                await this.getListPosts(url);
                window.scrollTo(0, 0);
            },
            getCategories: async function () {
                var resp = await fetch(this.API_URL + '/get_categories')
                this.categories = await resp.json()
                // console.log(this.category_list)
            },
            getPost: async function (id) {
                location.href = 'post?id=' + id;
            }


        },
    })
</script>
<script>
    $(document).ready(function () {
        $("input:text").focus(function () {
            $(this).select();
        });
    });
</script>
