<!--create_update_category.html-->
<meta charset="UTF-8">
<link rel="stylesheet" href="js/bootstrap.css">
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<link rel="icon" type="image/png" href="icon.png"/>
<script>
    if (!sessionStorage.getItem('token')) {
        location.href = 'https://drfblog.github.io/admin';
    }

    function logOut() {
        sessionStorage.removeItem('token');
        location.href = 'https://drfblog.github.io/admin';
    }
</script>
<div id='app' v-if="user.body.author_id">
    <nav class="navbar navbar-expand-lg navbar-dark p-0" style="background-color: #1f282dd9">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://drfblog.github.io/admin/index_admin">Quản lý bài viết</a>
            <a class="nav-item nav-link active" href="https://drfblog.github.io/admin/category_list">Quản lý nhóm bài
                viết</a>
            <a class="nav-item nav-link" href="https://drfblog.github.io/admin/media" target="_blank">Quản lý ảnh bài
                viết</a>
            <a class="nav-item nav-link" href="https://drfblog.github.io" target="_blank">drfblog</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                    <img class="rounded-circle" style="width:60px" src="user.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="https://drfblog.github.io/admin/user_profile">
                        Thông tin tài khoản
                    </a>
                    <a class="dropdown-item" href="https://drfblog.github.io/admin/change_password">
                        Đổi mật khẩu
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="logOut()">
                        Đăng xuất
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="mt-3 container">
        <template>
            <form id='fmt' @submit.prevent="save()">
                <table class="table">
                    <tr>
                        <th>Tên nhóm bài viết:</th>
                        <td><input class="form-control" v-model="category.body.title" name="title"></td>
                    </tr>
                </table>
                <a class='btn btn-secondary' href='https://aws.drfblog.cloudns.asia/admin/category_list'>Quay lại</a>
                <button class="btn btn-primary" type="submit">Lưu lại</button>
            </form>
        </template>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                body: {
                    author_photo: "",
                    author_id: "",
                }
            },
            id: null,
            category: {
                body: {
                    title: '',
                }
            },
            API_URL: 'https://aws.drfblog.cloudns.asia',
        },
        created: async function () {
            var pos = location.href.indexOf('?id=');
            this.id = (pos > 0) ? location.href.substring(pos + 4) : null;

            if (this.id) {
                var resp = await fetch(this.API_URL + "/root/get_category/" + this.id);
                this.category = await resp.json();
            }
            ;
            await this.getUser();
        },

        methods: {
            getUser: async function () {
                var resp = await fetch(this.API_URL + "/root/get_user",
                    {
                        headers: {
                            'Authorization': 'Bearer ' + sessionStorage.getItem('token'),
                            "Content-Type": "application/json",
                        }
                    });
                this.user = await resp.json();
                if (this.user.body.success === false) {
                    sessionStorage.removeItem('token');
                    location.href = 'login.html';
                }
            },
            post: async function (url, formData) {
                var resp = await fetch(url, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'Authorization': 'Bearer '
                            + sessionStorage.getItem('token')
                    },
                });
                return resp.json();
            },
            put: async function (url, body) {
                var resp = await fetch(url, {
                    method: 'PUT',
                    body: body,
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token'),
                        "Content-Type": "application/json",
                    },
                });
                return resp.json();
            },
            save: async function () {
                var result = {};

                if (this.id) {
                    var body = JSON.stringify(this.category.body);
                    console.log(body)
                    result = await this.put(this.API_URL + '/root/update_category/' + this.id,
                        body);
                    console.log(result);
                } else {
                    var fmt = document.getElementById('fmt');
                    result = await this.post(this.API_URL + '/root/create_category',
                        new FormData(fmt));
                    console.log(result)
                }
                if (result.body.success) {
                    location.href = 'https://drfblog.github.io/admin/category_list';
                    alert('Thành công');
                } else {
                    alert('Lỗi xảy ra khi ghi dữ liệu');
                }
            }
        }
    })
</script>