<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

<style>
    .bg-login {
        position: relative;
        width: 100%;
        min-height: auto;
    }

    .login-form {
        border: 1px solid #DDD;
        max-width: 400px;
        padding: 20px;
        margin: 150 auto 0 auto;
    }
</style>

<div id="app" class="bg-login">
    <div class="login-form">
        <h3>Đăng nhập</h3>
        <br>
        <form @submit.prevent="logIn()">
            <div class="form-group">
                <label>Email</label>
                <input v-model="email" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Mật khẩu</label>
                <input v-model="password" type="password" class="form-control"/>
            </div>
            <div class="form-group">
                <span id="error" style="color:red"></span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
            </div>
            <div class="clearfix">
                <a href="#" class="float-right">Quên mật khẩu?</a>
            </div>
        </form>
        <p class="text-center"><a href="https://drfblog.github.io/admin/signup">Đăng ký tài khoản</a></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {email: '', password: ''},
        methods: {
            post: async function (url, params) {
                var resp = await fetch(url, {
                    body: JSON.stringify(params),
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'}
                });
                return resp.json();
            },
            logIn: async function () {
                var params = {email: this.email, password: this.password};
                var result = await this.post('https://aws.drfblog.cloudns.asia//api/token', params);
                if (result.body) {
                    sessionStorage.setItem('token', result.body.access);
                    location.href = 'index_admin';
                } else if (this.email == "" || this.password == "") {
                    alert('Email và mật khẩu không được để trống');
                } else {
                    alert('Email hoặc mật khẩu không chính xác');
                }
            }
        }
    })
</script>